{% extends "base.html" %}

{% block content %}
<h1>Amend City</h1>

<form action="/cities/{{city.id}}" method="post">
    <!-- <label for="city">Select a City:</label>
        <select name="city_id" id="city">
            {% for city in cities%}
            <option value="{{city.id}}">{{city.name}}</option>
            {% endfor %}
        </select> -->


    <label for="name">City Name:</label>
    <input type="text" id="name" value="{{city.name}}">

    <label for="country">Country Name:</label>
    <input type="text" id="country" name="country" value="{{city.country}}">

    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
        <option value="True">Visited</option>
        <option value="False">Not Visited</option>
    </select>

    <button type="submit">Update City</button>


</form>
{% endblock %}
