{% extends "base.html" %}
{% block content %}

<header><h1>all_cities</h1></header>
<p>Here are all the cities bruh...</p>


{% for city in all_cities %}
<div class="countries">

    <h2><br><b>{{city.name}}</h2>
    <br><b>Country:</b> {{city.country}}
    <br><b>Visited:</b> {{city.visited}}

    <form action="/cities/{{city.id}}/delete" method="POST">
        <button type="delete">Delete</button>
    </form>
    <form action="/cities/{{city.id}}/edit" method="GET">
        <button type="edit">Edit</button>
    </form>

</div>
  {% endfor %}
  {% endblock %}