{% extends "base.html" %}
{% block content %}

<h1>All Pubs</h1>
<p>Here are all the pubs bruh...</p>

{% for pub in pubs %}
<div class="container">
<div class="pubs">

  <h2><br><b>{{pub.name}}</h2>
  <br><b>City:</b> {{pub.city.name}}
  <br><b>Visited:</b> {{pub.city.visited}}

  <form action="/pubs/{{pub.id}}/delete" method="POST">
    <button type="delete">Delete</button>
  </form>
  <form action="/pubs/{{pub.id}}/edit" method="GET">
    <button type="edit">Edit</button>
  </form>

</div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}


